
*{

 margin: 0;
 padding: 0;
 

 
 
}
header{
    text-align: center;
    padding: 20px;
    background-color:black
}
a{
    font-size: 20px;
    color:#ebebeb;
    text-decoration: none;
    margin-left: 50px;
    text-align: center;
    border: radius 30px;
}


body {
    direction:rtl;
    text-align: right;
    background-color:#0f1013
    
}

a:hover{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    border-radius: 5px;
    color:#ffffff;
    background-color:#e4a317  
    
}

#sear::placeholder {
   color: #8b909c;
}


   
#searchbox{
    padding: 10px;
    color:#66ffbd;
    font-size:15px;
    background-color:#0f1013
    
}






/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Lalezar";
  font-size: 20px;
  font-weight: 200;
  height: 30px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  color: #ffa82f
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}




#navbar {
    display: grid;
    grid-template-columns: auto auto auto;
}


.button-17:hover{

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#hero{
    display: grid;
    margin-top: 30px;
    grid-template-rows: auto auto auto auto;
    grid-row-gap:20px;
}

.row img {
    width: 20%;
    height: 20;
    border-radius:40px;
    margin:0 30px;
    font-size: 100px;



}





.row img:hover{
    box-shadow: 4px 4px 2px grey;
    
}



#p{
    font-size:14px;
    color: white;
    text-shadow: 2px 2px 5px red;
    text-align: center;
}


#cheshm{
  color: white;
}

#ghanooni{
  color: #87cEEB;
}